body {
    background-color: #122A44;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', sans-serif;
    margin-top: calc(100%/5);
}
a {
    text-decoration: none;
}
h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
}
